<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library@Mind</title>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <div class="home">
        <div class="bodydiv" >
            <div class="left">
               <a href="/index">Home</a>
            </div> 
            <div class="back"></div>
        </div>  
    </div>
    <h2>Knowledge is power, Information is liberating.</h2>
</body>
</html>
